@model AskMe.Models.Category
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>
<style>
    .error {
        color: red;
    }
</style>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.HiddenFor(x => x.CategoryId)
    <div class="form-group">
        <label>Category Name</label>
        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    </div>

    <button type="Submit">Add</button>
    <div class="col-md-offset-2 col-md-10">
        <label>@ViewBag.notification</label>
    </div>
}